<h1>FreeCodeCamp API Project: Timestamp Microservice</h1>
<p>Access the API at /api/v1/timestamps/<i>date</i></p>
<p>For the date, you can enter either: </p>
<ul>
  <li>a number representing a unix timestamp, e.g. 1483228800</li>
  <li>a date in natural format (month day, yyyy), e.g. January 1, 2017</li>
</ul>
<p>JSON is returned with both unix and natural representations of the date, or nulls if the date can't be parsed.</p>

Example usage:

<p>This uses Ruby's strptime function to parse the date.</p>
<p>This is a Rails 4 project. </p>